<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<style>
  h3{
  position: absolute;
  bottom: 488px;
  left: 16px;

  }
</style>
<body>
<img src="https://wallpapertag.com/wallpaper/full/6/4/d/221108-travel-background-1920x1080-for-windows-7.jpg">
<h3>We look forward to welcoming you back on board, and turn your travel dreams into reality.<br><br>
In these uncertain times, we’re giving you more flexibility to change or rebook travel.</h3>
</body>
</html>
